{{#d-section pageClass="aandelen-page"}}
  <div class="aandelen-container">
    <h2>Aandelenoverzicht van {{user.username}}</h2>

    {{!-- Het model is nu { aandelen: { ... } }, dus we moeten dieper nesten --}}
    <p>Deze gebruiker heeft: <strong>{{model.aandelen.aantal_aandelen}}</strong> aandelen.</p>
  </div>
{{/d-section}}