{{#d-section pageClass="aandelen-page"}}
  <div class="aandelen-container">
    <h2>Aandelenoverzicht van {{user.username}}</h2>

    {{!-- Het 'model' hier is het resultaat van onze server-side controller --}}
    <p>Deze gebruiker heeft: <strong>{{model.aantal_aandelen}}</strong> aandelen.</p>
  </div>
{{/d-section}}