<DModal @title="Mijn Modal Titel" @closeModal={{@closeModal}}>
  <:body>
    <p>Dit is de inhoud in de modal.</p>
  </:body>
  <:footer>
    <DButton class="btn-primary" @translatedLabel="Bevestigen" />
    <DModalCancel @close={{@closeModal}} />
  </:footer>
</DModal>
