<div class="user-shares">
  <h3>Aandelen van {{@user.username}}</h3>
  <ul>
    {{#each this.shares as |share|}}
      <li {{on "click" (fn this.logShare share)}}>
        {{share.name}}: {{share.amount}}
      </li>
    {{/each}}
  </ul>
</div>
