<div class="user-shares-content">
  <h1>Aandelen van {{this.model.owner_username}}</h1>
  <ul>
    {{#each this.model.shares as |share|}}
      <li>{{share.stock_name}}: {{share.quantity}}</li>
    {{/each}}
  </ul>
</div>