{{#if (eq model.action 'aandelen')}}
  <div class="aandelen-content-pane">
    <h3>Aandelen van {{model.username}}</h3>
    <p>
      Deze gebruiker heeft momenteel <strong>500</strong> aandelen.
    </p>
    <br>
    <p><i>(Dit is dummy data.)</i></p>
  </div>
{{/if}}