{{#if (eq model.action 'aandelen')}}
  <div class="aandelen-container user-content-container">
    <h3>Aandelen van {{model.username}}</h3>
    <p>
      De gebruiker "<strong>{{model.username}}</strong>" heeft <strong>500</strong> aandelen.
    </p>
  </div>
{{/if}}