<DModal @title="Aandelen" @closeModal={{@closeModal}}>
  <:body>
    <p>Hier staat de inhoud van je aandelen modal.</p>
  </:body>
  <:footer>
    <DButton @label="Sluiten" @action={{@closeModal}} />
  </:footer>
</DModal>
