<DModal @title="Aandelen" @closeModal={{@closeModal}}>
  <:body>
    <p>Dit is de inhoud van de aandelen modal.</p>
  </:body>
  <:footer>
    <DButton @translatedLabel="Sluiten" @action={{@closeModal}} />
  </:footer>
</DModal>
