<DModal @title="Aandelen" @closeModal={{@closeModal}}>
  <:body>
    <p>Inhoud van de aandelen modal gaat hier.</p>
  </:body>
  <:footer>
    <DButton @label="Sluiten" @action={{@closeModal}} />
  </:footer>
</DModal>
