{{#if site.mobileView}}
  <LinkTo @route="user.aandelen" @model={{this.model}} class="btn-flat">
    {{d-icon "chart-line"}} Aandelen
  </LinkTo>
{{else}}
  <li class="nav-item">
    <LinkTo @route="user.aandelen" @model={{this.model}}>
      Aandelen
    </LinkTo>
  </li>
{{/if}}