<div class="aandelen-container">
  <h3>Aandelen van {{this.user.username}}</h3>
  <p>
    Deze gebruiker heeft momenteel
    <span class="aandelen-count">{{this.aandelenAantal}}</span>
    aandelen.
  </p>
</div>