{{!-- 
  Dit component is enkel de knop zelf. 
  'd-link' is de Discourse-manier om een link te maken die de app niet herlaadt.
--}}
<li class="aandelen-nav-item">
  <d-link
    @route="user.aandelen"
    @model={{this.user}}
    @label="aandelen.title"
    @icon="coins"
  />
</li>