<h2>Aandelen van {{model.username}}</h2>

<ul>
  {{#each model.shareTransactions as |tx|}}
    <li>
      <strong>{{tx.date}}:</strong> {{tx.description}} 
      ({{tx.amount}})
    </li>
  {{/each}}
</ul>
